In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # ２番めの要素だけを表示

user_names[1] = "侍花子" # ２番めの要素を更新
print(user_names)

user_names.append("侍五郎") # ６番目の要素を追加
print(user_names)

user_names.pop(2) # ３番目の要素を削除 (0始まりのため２を指定)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本","アメリカ","イギリス","フランス")

# ３番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ","イギリス","日本","フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ") # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス") # セットから「イギリス」を削除
print(country_names)

{'イギリス', '日本', 'アメリカ', 'フランス'}
{'イギリス', 'フランス', '日本', 'ドイツ', 'アメリカ'}
{'フランス', '日本', 'ドイツ', 'アメリカ'}

In [ ]:
# 連想配列を作成
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}

# キー「name」の値を表示
print(personal_data["name"])

# 連想配列全体を表示
print(personal_data)

# キー「age」の値を更新
personal_data["age"] = 37

# 新しく要素（キーと価）を追加
personal_data["address"] = "東京都"

# 連想配列全体を表示
print(personal_data)

侍太郎
{'name': '侍太郎', 'age': 36, 'gender': '男性'}
{'name': '侍太郎', 'age': 37, 'gender': '男性', 'address': '東京都'}

In [ ]:
# "array" リストを作成
array = ["月曜日は晴れです", "火曜日は雨です", "水曜日は晴れです", "木曜日は晴れです", "金曜日は曇りです", "土曜日は曇りのち雨です", "日曜日は雷雨です"]
# array[2]の要素を表示
print(array[2])

# "dicitionary" を作成
dictionary = {"mon": "晴れ","tue": "雨","wed": "晴れ","thu": "晴れ", "fri": "曇り", "sat": "曇りのち晴れ", "sun": "雷雨"}
# wedの天気を取り出して表示
print(dictionary["wed"])

水曜日は晴れです
晴れ

In [ ]:
#ランダムな整数を利用するために、tamdom モジュールをインポート
import random

# 変数varにランダムな整数を代入する
var = random.randint(1,100)

# 変数varの値が、3の倍数と5の倍数の両方に該当する場合は「FizzBuzz」を出力
if var % 3 == 0 and var % 5 == 0:
  print("FizzBuzz")

# 変数varの値が3の倍数であれば、「Fizz」と出力
elif var % 3 == 0:
  print("Fizz")

# 変数varの値が５の倍数であれば、「Buzz」と出力
elif var % 5 == 0:
  print("Buzz")

# 上記のどの場合にも該当しない場合は、変数varの値を出力
else:
  print(var)

7

In [ ]:
range(5)

range(0, 5)

In [ ]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
import random

for i in range(1,11):
  num = random.randint(1,20)

  print(f"{i}回目の結果は{num}です。")

  if num == 20:
    print("20が出たので繰り返し処理を終了します。")
    break

1回目の結果は14です。
2回目の結果は18です。
3回目の結果は7です。
4回目の結果は4です。
5回目の結果は6です。
6回目の結果は17です。
7回目の結果は19です。
8回目の結果は20です。
20が出たので繰り返し処理を終了します。

In [ ]:
# 整数型と浮動小数点型の足し算
number1 = 5
number2 = 2.5
print(number1 + number2)

# 文字列型と文字列型の連結
last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [ ]:
del print

user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除（0始まりのため2を指定）
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本","アメリカ","イギリス","フランス")

print(country_names[2])

print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
import random

for i in range(1,11):
    num = random.randint(1,20)

    print(f"{i}回目の結果は{num}です。")

    if num == 20:
      print("20が出たので繰り返し処理を終了します。")
      break

1回目の結果は20です。
20が出たので繰り返し処理を終了します。

In [ ]:
for i in range(1,11):
    if i % 2 == 1:
      continue

    print(i)

2
4
6
8
10

In [ ]:
import random

num = random.randint(0,4)

print(f"最初の値は{num}です。")

while num !=0:
    num = random.randint(0,4)
    print(f"現在の値は{num}です。")

最初の値は3です。
現在の値は4です。
現在の値は4です。
現在の値は4です。
現在の値は2です。
現在の値は4です。
現在の値は3です。
現在の値は0です。

In [ ]:
import random
num = random.randint(0,4)
i = 1
print(f"最初の値は{num}です。")
while num != 0:
    num = random.randint(0,4)
    if i == 5:
      print("5回目なので繰り返し処理を強制終了します。")
      break
    print(f"現在の値は{num}です。")
    i = i + 1

最初の値は4です。
現在の値は1です。
現在の値は4です。
現在の値は2です。
現在の値は2です。
5回目なので繰り返し処理を強制終了します。

In [ ]:
import random
sum = 0
while sum < 20:
    num = random.randint(1,10)
    print(f"{num}が出ました。")
    if num % 2 == 0:
        print("偶数なので加算しません。")
        continue
    sum = sum + num
    print(f"現在の合計は{sum}です。")

1が出ました。
現在の合計は1です。
9が出ました。
現在の合計は10です。
1が出ました。
現在の合計は11です。
7が出ました。
現在の合計は18です。
8が出ました。
偶数なので加算しません。
8が出ました。
偶数なので加算しません。
5が出ました。
現在の合計は23です。

In [ ]:
user_names = ["侍太郎","侍一郎","侍次郎","侍三郎","侍四郎"]
for user_name in user_names:
    print(user_name)

侍太郎
侍一郎
侍次郎
侍三郎
侍四郎

In [ ]:
personal_data = {"name": "侍太郎", "age": 36, "gender": "男性"}
for key, value in personal_data.items():
    print(f"{key}は{value}です。")

for value in personal_data.values():
    print(value)

nameは侍太郎です。
ageは36です。
genderは男性です。
侍太郎
36
男性

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍次郎", "侍三郎", "侍四郎"]
for index, value, in enumerate(user_names):
    print(f"{index} : {value}")

0 : 侍太郎
1 : 侍一郎
2 : 侍次郎
3 : 侍三郎
4 : 侍四郎

In [ ]:
user_names = ["侍太郎", "侍一郎",  "侍二郎", "侍三郎", "侍四郎"]
target = "侍二郎"

for user_name in user_names:
    print(user_name)

    if (user_name == target):
        print(f"{target}酸が見つかったので、繰り返し処理を強制終了します。")
        break

侍太郎
侍一郎
侍二郎
侍二郎酸が見つかったので、繰り返し処理を強制終了します。

In [ ]:
score = {
    "国語": 80,
    "数学": 55,
    "理科": 70,
    "社会": 85,
    "英語": 60
}

print("合格した科目は以下の通りです。")

for key, value in score.items():
    if (value < 70):
        continue
    print(f"{key} : {value}点")

合格した科目は以下の通りです。
国語 : 80点
理科 : 70点
社会 : 85点

In [ ]:
array = ["水","金","地","火","木","土","天","海","冥"]

for i in array:
    print(i)

i = 0
while i < len(array):
    print(array[i])
    i += 1

水
金
地
火
木
土
天
海
冥
水
金
地
火
木
土
天
海
冥

In [ ]:
def calculate_total(price):

    total = price + 500
    print(f"{total}円")
calculate_total(1200)

1700円

In [ ]:
def add_two_argument(price,shipping_fee):
    total = price + shipping_fee

    print(f"{total}円")
add_two_argument(1200,500)

1700円

In [ ]:
def add_two_argument(price, tax):
    tax = tax / 100
    total = price + (price * tax)
    return total

total = add_two_argument(110,10)
print(total)

121.0

In [ ]:
def show_user_name():
    user_name = "侍太郎"
    print(user_name)
show_user_name()

侍太郎

In [ ]:
def show_user_name():
    user_name = "侍太郎"
    print(user_name)
show_user_name()
print(user_name)

侍太郎

NameError: name 'user_name' is not defined

In [ ]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

In [ ]:
# total関数を定義
def total():
  # 変数price1を定義
    price1 = 100
  # 変数price2を」定義
    price2 = 200
  # price1+price２の戻り値を返す
    return price1 + price2
# 変数taxを定義
tax = 1.1
# 税込み金額を出力
print(total() * tax)

330.0

In [ ]:
class Product:
    def __init__(self):
      # 属性を定義する
      self.name = ""

shampoo = Product()

# 属性にアクセスし、値を代入する
shampoo.name = "シャンプー"

# 属性にアクセスし、値を出力する
print(shampoo.name)

シャンプー

In [ ]:
class Product:
    def __init__(self):
      self.name = ""

    # メソッドを定義する
    def set_name(self, name):
        self.name = name
    def show_name(self):
        print(self.name)

# インスタンス化する
coffee = Product()

# メソッドにアクセスして実行する
coffee.set_name("コーヒー")
coffee.show_name()

コーヒー

In [ ]:
class User:
    # コンストラクタを定義する
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
# インスタンス化する
user = User("侍太郎", 36, "男性")

# 属性にアクセスし、値を出力する
print(user.name)
print(user.age)
print(user.gender)

侍太郎
36
男性

In [3]:
class Human:
  def __init__(self, name, age):
    self.name = name
    self.age = age
human = Human("名前", "年齢")
print(human.name, human.age)

名前 年齢